/* gerber_result.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
    font-size: 32px;
    text-align: center;
    color: #333;
  }
  
  h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #333;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .text-warning {
    color: #f0ad4e;
  }
  
  .text-danger {
    color: #d9534f;
  }
  
  ul {
    margin: 0;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  /* Form styles */
  form {
    margin-top: 30px;
    text-align: center;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  /* Styling the checkbox input */
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 2px solid #e4e4e4;
    outline: none;
    transition: border-color 0.3s ease;
    position: relative;
  }

  /* Styling the custom checkmark when checked */
  input[type="checkbox"]:checked::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif; /* Replace with the desired custom font */
    font-size: 12px; /* Adjust the font size as needed */
    color: blue; /* Change the color to your desired checkbox color */
  }

  /* Styling the checkbox label */
  label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }