{% extends 'header.html' %}

{% block content %}

    <title>Ticket List</title>
    
    <ul>
        {% if user.is_staff %}
    
        <form class="" method="POST">
            {% csrf_token %}
            <label for="view_all_project">View All Tickets</label>
            <input type="checkbox" id="view_all_project" name="view_all_project" {% if view_all_project %}checked{% endif %}>
            <button class="btn_apply"  type="submit">Apply</button>
        </form>
        
        {% endif %}
        
        <h1 class="TextMilieu" >Ticket List</h1>
    
        <div class="container_mp0 description">
            <div class="border_description">
                <p> Menu to see and handle tickets </p>
            </div>
        </div>


        {% for ticket in tickets %}
        <li class="container_file bg-1">
            <div class="container_info bg-4">
                <strong>Title:</strong> {{ ticket.title }} - {{ ticket.created_at }}
                {% if ticket.resolved %}
                (Resolved)
                {% else %}
                (Unresolved)
                {% endif %}
            </div>
            <div class="container_mp0" >
                <a class="btn_myfile"  href="{% url 'ticket_detail' ticket.id %}">View</a>
                <button class="btn_delete" type="submit" onclick="return confirm('Are you sure you want to delete this ticket?')" >Delete</button>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="container_file bg-1 container_centre ">
        <a class="btn_myfile"href="{% url 'ticket_create' %}" >Create New Ticket</a>
    </div>
    

{% endblock%}
